
@{
    ViewBag.Title = "Index";
}

@foreach (var category in ViewBag.Categories)
            {
                <h1>@category.Name</h1>
                <h4>Id: @category.Id</h4>
                <h4>Description: @category.Description</h4>
            }